<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <!--This one seems to work all the time, but really small on ipad-->
  <!--<meta name="viewport" content="initial-scale=0.4">-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" media="all" href="theme/css/default.css">
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="theme/css/phone.css">
  <base target="_blank"> <!-- This amazingness opens all links in a new tab. -->
  <script data-main="js/slides" src="js/require-1.0.8.min.js"></script>
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">

  <slide class="logoslide nobackground">
    <article class="flexbox vcenter">
      <span><img src="images/ats-logo.png"></span>
    </article>
  </slide>

  <slide class="title-slide segue nobackground">
    <aside class="gdbar"><img src="images/ats_icon_128.png"></aside>
    <!-- The content of this hgroup is replaced programmatically through the slide_config.json. -->
    <hgroup class="auto-fadein">
      <h1 data-config-title><!-- populated from slide_config.json --></h1>
      <h2 data-config-subtitle><!-- populated from slide_config.json --></h2>
      <p data-config-presenter><!-- populated from slide_config.json --></p>
    </hgroup>
  </slide>

  <slide>
    <hgroup>
      <h2>Introduction</h2>
      <h3>AngularJs Origin</h3>
    </hgroup>
    <article>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Basic Concepts</h2>
      <h3>Templating</h3>
    </hgroup>
    <article>
      <ul>
        <li>Utilizes HTML for its templating.</li>
        <li>Angular uses a javascript like syntax for template expressions.
          <ul>
            <li>You can reference properties, call functions, or even run math expressions.
            <li>You can use comparison & logical operators so (===, &&, ||), however ternary does not work.</li>
        </li>
      </ul>
      <pre class="prettyprint" data-lang="html">
&lt;div>{{ title }}&lt;/div>
&lt;div>{{ getTitle() }}&lt;/div>
&lt;div>{{ a * b }}&lt;/div>
&lt;div>{{ someVal || someVal2 }}&lt;/div>
&lt;div style="{{ getStyle() }}">&lt;/div>
</pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Basic Concepts</h2>
      <h3>Controllers</h3>
    </hgroup>
    <article class="smaller">
      <ul>
        <li>Does not care about the view implementation, but provides methods and properties that the view utilizes.</li>
        <li>The $scope object provides the scope for the expressions evaluated within the view/template.</li>
      </ul>
      <pre class="prettyprint" data-lang="javascript">
  var mod = angular.module('myMod', []);
  mod.controller('MyController', ['$scope', function($scope) {
    $scope.title = "myTitle";
    $scope.changeTitle = function() {
      $scope.title = "Some other contents";
    };
  }]);
      </pre>
      <pre class="prettyprint" data-lang="html">
&lt;div ng-controller="MyController">
  &lt;div>{{ title }}&lt;/div>
  &lt;div ng-click="changeTitle">&lt;/div>
&lt;/div>
      </pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Basic Concepts</h2>
      <h3>Directives</h3>
    </hgroup>
    <article>
      <ul>
        <li>Angular's way of creating custom elements or attributes.</li>
        <li>Only directives should interact with the dom
            <ul>
              <li>Which means controllers shouldn't be!</li>
            </ul>
        </li>
        <li>Allows the HTML to be very declarative</li>
      </ul>
      <pre class="prettyprint" data-lang="html">
&lt;list items="myArray">&lt;/list>
&lt;!-- Or  -->
&lt;div list items="myArray"&gt;&lt;/div&gt;
&lt;!-- Or  -->
&lt;div data-list data-items="myArray"&gt;&lt;/div&gt;
</pre>
What do you suppose the above html will display? ... Yes, a list of items.
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Basic Concepts</h2>
      <h3>Directives - Continued</h3>
    </hgroup>
    <article class="smaller">
      <pre class="prettyprint" data-lang="4nGu|4r5">
directive('list', function () {
    return {
      restrict: 'AE', // Says, restrict this directive to an element or an attribute
      template: '&lt;ul class="list"&gt;' +
                  '&lt;li ng-repeat="item in items" class="filled"&gt;' +
                      '{{ item }}' +
                  '&lt;/li&gt;' +
                '&lt;/ul&gt;',
      scope: {
        items: "="
      },
      link: function (scope, elem, attrs) {
        $(elem).draggable();
      }
    };
});
</pre>
    </article>
  </slide>
  <slide>
    <hgroup>
      <h2>Basic Concepts</h2>
      <h3>Filters</h3>
    </hgroup>
    <article class="smaller">
      <ul>
        <li>Provides an easy way to transform the result of a template expression</li>
        <li>Use a filter by using a | after an expression</li>
        <li>Parameters can be passed to a filter, by adding a : after the filter</li>
        <li>Angular has a few built in filters, here are a few:
          <ul>
            <li>currency - Formats a number as a currency.</li>
            <li>date - Formats date to a string based on the requested format.</li>
            <li>uppercase - Converts string to uppercase.</li>
          </ul>
        </li>
      </ul>
      <pre class="prettyprint" data-lang="javascript">
$scope.myNumber = 3.41;
$scope.myDate = new Date();
      </pre>
      <pre class="prettyprint" data-lang="html">
&lt;div>{{ myNumber | currency }}&lt;/div> &lt;!-- Shows $3.41 -->
&lt;div>{{ myDate | date:"shortTime" }}&lt;/div> &lt;!-- Shows 4:00 pm -->
      </pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Basic Concepts</h2>
      <h3>$http</h3>
    </hgroup>
    <article>
      <ul>
        <li>The most basic way of accessing remote resourses</li>
        <li>Has convenience methods for performing all the basic rest methods GET, POST, DELETE, and PUT.</li>
        <li>Returns a promise, but also has convenience methods for success and error</li>
      </ul>
      <pre class='prettyprint' data-lang="javascript">
  $http.get("/some/url/items.json")
    .then(function (data) {
      $scope.items = data;
    }, function() {
      alert("Error occurred");
    });
      </pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Live Coding!</h2>
      <h3>Todo List</h3>
    </hgroup>
    <article>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Todo List</h2>
      <h3>Using UI Routing</h3>
    </hgroup>
    <article>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>BTI</h2>
      <h3>Master Detail</h3>
    </hgroup>
    <article>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>BTI</h2>
      <h3>Searchable List</h3>
    </hgroup>
    <article>
      <ul>
        <li>Lazy Loading</li>
        <li>Lazy Rendering</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>BTI</h2>
      <h3>Itinerary</h3>
    </hgroup>
    <article>
      <ul>
        <li>General Features
          <ul>
            <li>Drag and Drop</li>
            <li>Popup Editing</li>
          </ul>
        </li>
        <li>Bulk Update Template</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Performance</h2>
    </hgroup>
    <article>
      <ul>
        <li>Lessons Learned</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Useful Links</h2>
    </hgroup>
    <article>
      <ul>
        <li>Angular Docs - <a href="http://docs.angularjs.org/api/">http://docs.angularjs.org/api/</a></li>
        <li>TodoMVC - <a href="http://todomvc.com/">http://todomvc.com/</a>
          <ul>
            <li>Shows implementations of a todo list in various frameworks</li>
          </ul>
        </li>
      </ul>
    </article>
  </slide>
  <slide class="backdrop"></slide>
</slides>
</body>
</html>
